.lightning_studio/
.env
observations.md
prompts_Hate_Speech.csv
prompts_Offensive_Language.csv
prompts_Normal.csv
prompts.csv
test_data.csv
test_results.csv
train_data.csv
train_reasoning_data.csv
training_data.csv
val_data.csv
training_data.jsonl
__pycache__/
.idea
.vscode-server
.vscode
.bash_history
.wget-hsts